/*--------------------Tablet----------------------*/
@media (max-width: 992px) {
  .menu-links {
    position: absolute;
    top: 49px;
    width: 30%;
    left: 70%;

    border: 2px solid white;
    border-top: 0;
    flex-direction: column;
    background: linear-gradient(
      to top,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    align-items: center;
    display: none;
  }
  .menu-links a {
    font-size: 25px;
  }
  .menu-label {
    display: flex;
    cursor: pointer;
  }
  #menu-toggle:checked + .menu-links {
    display: flex;
  }
  .hero-imagen img {
    display: none;
  }
  .hero-info {
    width: 650px;
    height: 350px;
  }
  .hero-info h1 {
    font-size: 80px;
    text-align: center;
  }
  .hero-info p {
    text-align: center;
  }
  .hero-botton {
    margin: auto;
  }
  .info-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-card-footer {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
  }
}

/*-----------------------------------Smartphone---------------------*/
@media (max-width: 576px) {
  .hero-info {
    width: auto;
    height: auto;
  }
  .hero-info h1 {
    font-size: 70px;
    text-align: center;
  }
  .hero-info p {
    font-size: 20px;
    text-align: center;
  }
  .hero-botton {
    margin-top: auto;
    padding-top: 30px;
  }
}
