@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1,900 & display=swap");

/*Resetiar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
main {
  max-width: 100%;
  justify-content: center;
}
body {
  background-image: url(./imagenes/fondo-web.jpg);
  background-position: 50%;
}

header {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 0;
  height: 50px;
}
.imagen-logo {
  display: flex;
  height: 50px;
  padding: 3px;
}
.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.menu-links a {
  color: white;
  font-size: 20px;
}
#menu-toggle,
.menu-label {
  display: none;
}

/*_______________SECCION HERO_________________*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero {
  max-width: 1200px;
  margin-top: 65px;
  /*padding: 5px 0;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.hero-info h1 {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  font-size: 100px;
  font-weight: bold;
}
.hero-info p {
  color: white;
  font-family: "Playfair Display", serif;
  font-family: "PT Serif", serif;
  font-size: 23px;
  /*width: 100%;*/
}

.hero-botton {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 80px;
}

.btn1 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  border: solid black 1px;
  width: 170px;
  height: 50px;
  border-radius: 15px;
  font-size: 25px;
  filter: drop-shadow(10px 10px 20px rgb(81, 92, 173));
}

.btn2 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  border: solid black 1px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 25px;
  filter: drop-shadow(10px 10px 20px rgb(81, 92, 173));
}

.hero-imagen img {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border: solid 2px;
}
/*.hero-imagen img {
  filter: drop-shadow(10px 10px 20px rgb(81, 92, 173));
  -webkit-filter: drop-shadow(10px 10px 20px rgb(81, 92, 173));
}*/
#info {
  max-width: 1200px;
  margin-top: 100px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.info-description {
  display: flex;
  justify-content: center;
}
.info-description p {
  color: white;
  font-family: "Playfair Display", serif;
  font-family: "PT Serif", serif;
  font-size: 22px;
  width: 90%;
  word-spacing: 8px;
}

/*_________________INFO SECTION CARD____________*/
#info-container {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-card-container {
  display: flex;
  gap: 5rem;
}

.info-card {
  background-color: #f9fafc;
  width: 300px;
  height: 290px;
  padding: 20px 10px;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*Imagen de Shell Box*/
.info-card img {
  filter: drop-shadow(5px 5px 5px white);
  width: 200px;
  height: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px white);
}
.info-card p {
  font-family: "Playfair Display", serif;
  font-family: "PT Serif", serif;
  font-size: 16px;
  text-align: center;
}
.info-card h3 {
  color: rgb(238, 16, 16);
  font-size: 30px;
  word-spacing: 10px;
}

#aceite {
  display: flex;
  width: 445px;
  height: 240px;
}
#combustible {
  display: flex;
  width: 150px;
  height: 108px;
}
/*==============================FOOTER============================================*/
.footer-container {
  margin-top: 65px;
  display: flex;
  background: #0d1321;
}

.info-card-footer {
  flex-flow: column wrap;
  width: 500px;
  height: 200px;
  margin-left: 30px;
  justify-content: center;
  gap: 10px;
  color: white;
  border-right: 1px solid white;
  margin: 25px 20px;
}
.info-card-footer h3 {
  padding: 20px 10px;
  font-size: 25px;
}
.info-card-footer p {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.info-card-footer img {
  width: 30px;
  height: 30px;
}
.info-card-footer a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: white;
  margin-left: 20px;
}
.footer-fin {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-footer img {
  width: 500px;
  height: 75px;
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
}
