* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #e74c3c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #e74c3c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar,
.menu-links {
  display: flex;
  gap: 5rem;
}

a {
  font-size: 20px;
  color: rgb(240, 243, 247);
  text-decoration: none;
}
.imagen {
  display: flex;
  height: 60px;
  width: auto;
}

.container {
  display: flex;

  height: fit-content;
  margin: 50px 100px;
  justify-content: center;
  gap: 5rem;
}

.img {
  border-radius: 30px;
  width: 600px;
  height: 600px;
  background-image: url(./imagenes/OIG.k.43CKEG9uh81y.O.jpeg);
  background-position: center;
  background-size: cover;
  filter: drop-shadow(10px 10px 20px rgb(81, 92, 173));
}
.hero {
  width: 600px;
  height: 300px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: "League Gothic", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 800px;
}
p {
  display: flex;
  justify-content: start;
  font-size: 23px;
  font-family: "League Spartan", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.button {
  width: 600px;
  height: 250px;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.btn {
  display: flex;
  border-radius: 20px;
  border: black solid 3px;
  width: 250px;
  height: 65px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Cairo", sans-serif;
}
.btn1 {
  background-image: linear-gradient(to left, #000000, #e74c3c);
}
.btn2 {
  display: flex;
  background-color: white;
  color: #000000;
}
.info {
  display: flex;

  text-align: center;
}
