* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #a3da8f;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

img {
  display: flex;
  height: 50px;
  width: auto;
  margin-left: 50px;
}
.menu-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-right: 70px;
  margin-bottom: 10px;
}
a {
  font-size: 25px;
  color: rgb(2, 9, 15);
  text-decoration: none;
}
